body {
  text-align: center;
  line-height: 1.5;
  font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}
p{
  color: #8f8f8f;
}
/* Sections */
.colored-section {
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* nav */
.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2rem;
  margin: 0 16px 20px 16px;
}

a, .item {
  margin: 10% 0 25% 20%;
  font-weight: 400;
  color: white;
}

.navbar-nav {
  margin-left: 70%;
}

/* title */
#title {
  background: linear-gradient(45deg, #6a197d, #ff9c71);
  position: relative;
}

#title .container-fluid {
  padding: 0 3% 7%;
}

.title-box {
  padding-left: 8%;
}

.title-text {
  text-align: left;
  font-family: "Montserrat";
  font-weight: bold;
  margin-bottom: 10%;
  font-size: 3.1rem;
  padding-top: 15%;
}

.title-buttons {
  text-align: left;
}

.btn {
  margin-right: 10px;
}

.title-image {
  width: 40%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
  top: 10%;
}

/* <!-- Features --> */
#features {
  position: relative;
  font-size: 1rem;
  margin: 0 0 5%;
  padding:  10px 200px;
}

.box {
  margin-top: 5%;
  padding: 4.5%;
}
.f-title{
  font-size: 1.5rem;
}

#features .h3{
  font-size: 2rem;
}
.icon {
  margin: 6% auto;
  color: #ff9c71;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonial */
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 2.5rem;
  line-height: 1.5;
  margin-bottom: 3%;
}

#testimonials {
  text-align: center;
  background: linear-gradient(90deg, #e2979c,#ff9c71);
}

.carousel-item {
  padding: 4% 15% 6%;
}

.arrow {
  margin: 0 3%;
  padding-top: 8%;
}

/* press */
#press {
background: linear-gradient(90deg, #e2979c,#ff9c71);
  padding-bottom: 3%;
}

.press-image {
  width: 10%;
  margin: 0 20px;
}

@media (max-width:750px) {
  .title-image {
    transform: rotate(0);
    position: static;
    margin-top: 10%;
  }
}

/* pricing */
#pricing{
  padding:100px;
}

.card-box{
  padding: 3%;
}

.pricing-title {
  font-size: 2.5rem;
  line-height: 2;
  margin-bottom: 10px;
}
.price{
    font-size: 2.5rem;
    margin: 20px 0;
}

/* cta */
#cta .container-fluid {
  background: linear-gradient(45deg, #6a197d,#e2979c);
  padding: 6%;
}

.cta-text {
  margin: 3% 5% 5%;
  font-weight: bold;
  font-size: 2.5rem;
}

/* footer */
#footer .container-fluid {
  padding: 6% 10% 0;
}

.f-icon {
  margin: 10px 10px;
}
